<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= movie.title %></title>
</head>
<body>
  <h1><%= movie.title %></h1>
  <p>Year: <%= movie.year %></p>
  <p>Genre: <%= movie.genre %></p>
  <p>Rating: <%= movie.rating %></p>
  <p>Description: <%= movie.description %></p>
</body>
</html>
